header {
	border: 1px solid red;
}
#nav ul li{
	display: inline;
	margin-right: 10px;
}
.disabled {
	color: gray;
}

.month-list ul li a {
	color: purple;
}

.active {
	color: yellow;
}
.parent div > div {  /* both red and blue are red */
	color: red;
}
.parent div div { /* both blue and red are blue */
	color: blue;
}

/*.parent div > h4 { ---> this colors both siblings
	background-color: red;
}
*/
.parent div h4 h4 {  /* doesn't work */
	background-color: blue;
}

.grandparent > h4 {
	border: 1px solid blue;
	border-radius: 10px;
}